# Dependencias
node_modules/
.pnpm-store/

# Builds
dist/
build/
*.tsbuildinfo

# Entorno (NUNCA versionar secretos)
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Prisma
apps/api/prisma/migrations/dev.db*

# Editores / SO
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# Coverage
coverage/
